.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.top-margin{
  margin-top: 90px;
}

html,body{
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
  }